include MANIFEST.in Makefile *.bat *.py *.rst *.sh *.txt *.yml *.toml
recursive-include docs *.*
recursive-include pysph *.pxd *.pyx *.mako *.txt.gz *.h
recursive-exclude pysph *.cpp
recursive-include pysph/examples *.py *.gz ndspmhd*.npz *.rst
recursive-include pysph/examples *.txt.bz2 *.csv *.txt
