include MANIFEST.in Makefile *.py *.txt pip_requirements.txt README.md
include build_zoltan.sh shippable.yml
recursive-include examples *.py
recursive-include docs *.* *
recursive-include pysph *.pxd *.h *.c *.src
recursive-include pyzoltan *.pxd *.h *.c *.src
