include MANIFEST.in Makefile *.py *.txt *.md *.sh *.bat *.yml
recursive-include examples *.py *.vtk.gz
recursive-include docs *.*
recursive-include pysph *.pxd *.src *.txt.gz
recursive-include pyzoltan *.pxd *.h *.src *.txt
